.drum-machine-container{
  padding-top: 10px;
  width: 400px;
  min-height: 400px;
  padding: 14px;
  background-color: #b3b3b3;
  border-radius: 20px;
  border: 5px solid white;
}
.drum-pad-container{
  height: 83px;
  display:flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  color: white;
  border-radius: 25px;
  margin: 4px;
  cursor: pointer;
  user-select: none;
}
.drum-pad{
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}